# ===================================
# 🔐 ENVIRONMENT / SECRETS
# ===================================
.env
.env.*
*.env

# ===================================
# 🐍 PYTHON
# ===================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
venv/
env/
.venv/

# ===================================
# 🧱 DJANGO
# ===================================
db.sqlite3
db.sqlite3-journal

staticfiles/
media/

# Logs
*.log

# ===================================
# 🐳 DOCKER / GUNICORN
# ===================================
*.sock
*.pid
*.ctl

# Docker override files
docker-compose.override.yml

# ===================================
# 🧪 TEST / COVERAGE
# ===================================
.coverage
htmlcov/

# ===================================
# 🔑 AWS / CERTS
# ===================================
*.pem
*.key
*.crt

# ===================================
# 🧾 IDE
# ===================================
.vscode/
.idea/

# ===================================
# 🪟 OS
# ===================================
.DS_Store
Thumbs.db